{% extends 'base.html.twig' %}

{% block title %}My books{% endblock %}

{% block body %}
    <h1>My books</h1>
    {% if pagination %}
        {% for book in pagination.items %}
            <div class="row">
                <div class="col-sm-3">
                    <img src="/public/{{ vich_uploader_asset(book, 'imageFile') }}" alt="preview">
                </div>
                <div class="col-sm-6">
                    <h2><a href="{{ path('book_show', {'slug': book.slug}) }}">{{ book.name }}</a></h2>
                    <p>{{ book.author }}</p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-info" role="button" href="{{ path('update_book', {'id': book.id}) }}">Edit</a>
                    <a class="btn btn-danger" role="button" href="{{ path('delete_book', {'id': book.id}) }}">Delete</a>
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}